In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import requests
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/Hema/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver] found in cache

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
# for none DYNAMIC CONTENT
# response = requests.get(url)
# soup = bs(response.text, 'lxml') #html.parser
# print(soup.prettify())

In [5]:
html = browser.html
soup = bs(html, 'lxml')

In [6]:
#print(soup.prettify())

In [7]:
results = soup.find_all('div', class_='list_text')

In [8]:
news_names = []
for result in results:
        news = {}
        # Identify and return title of listing
        title = result.find(class_='content_title').text
        news['title'] = title
        # Identify and return teaser of listing
        teaser = result.find(class_='article_teaser_body').text
        news['teaser'] = teaser
        news_names.append(news)

#         # Print results only if title, price, and link are available
#         print('-------------')
#         print(title)
#         print(teaser)
print (news_names[0])

{'title': "Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter", 'teaser': 'As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.'}

In [9]:
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)
html = browser.html
soup2 = bs(html, 'lxml')

In [10]:
#print(soup2.prettify())

In [11]:
featured_image = soup2.find(class_='showimg fancybox-thumbs')
featured_image

In [12]:
featured_image_url = format(featured_image.get('href'))
featured_image_url_final = url2 + featured_image_url
featured_image_url_final

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [18]:
url3 = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url3)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [19]:
planet_facts_df = tables[0]
#planet_facts_df.set_index(0,inplace= True)
planet_facts_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
mars_facts_table = planet_facts_df.to_html()
mars_facts_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [28]:
planet_facts_df.columns

Int64Index([0, 1, 2], dtype='int64')

In [29]:
list_factors = planet_facts_df[0].to_list()
list_factors

['Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [31]:
list_mars = planet_facts_df[1].to_list()
list_mars

['Mars',
 '6,779 km',
 '6.39 × 10^23 kg',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C']

In [32]:
list_earth = planet_facts_df[2].to_list()
list_earth

['Earth',
 '12,742 km',
 '5.97 × 10^24 kg',
 '1',
 '149,598,262 km',
 '365.24 days',
 '-88 to 58°C']

list_facts = []
for index, rows in planet_facts_df.iterrows():
        # Create list for the current row
        my_list =[rows.0, rows.1, rows.2]

        # append the list to the final list
        list_facts.append(my_list)
list_facts

In [ ]:
url4 = 'https://marshemispheres.com/'
browser.visit(url4)
html = browser.html
soup4 = bs(html, 'lxml')

In [ ]:
#print(soup4.prettify())

In [ ]:
links =browser.find_by_css('a.product-item img')
#print (links)

In [ ]:
hemisphere_image_urls=[]
for i in range(len(links)):
        hemisphere = {}
        browser.find_by_css('a.product-item img')[i].click()
        element=browser.links.find_by_text('Sample').first
        hemisphere['title']=browser.find_by_css('h2.title').text
        hemisphere['img_url']=element['href']
        hemisphere_image_urls.append(hemisphere)
        browser.back()
hemisphere_image_urls

In [ ]:
browser.quit()